module "agreements" {
  source = "./modules/agreement"

  publisher = module.spec.value.operating_system.publisher
  offer     = module.spec.value.operating_system.offer
  plan      = module.spec.value.operating_system.sku

  depends_on = [module.spec]
}
