module "agreements" {
  source = "./modules/agreement"

  for_each = module.spec.base.images

  publisher = each.value.publisher
  offer     = each.value.offer
  plan      = each.value.sku
  accept    = each.value.accept

  depends_on = [ null_resource.validation ]
}
