module "agreements" {
  source = "./modules/agreement"

  publisher = module.spec.base.operating_system.publisher
  offer     = module.spec.base.operating_system.offer
  plan      = module.spec.base.operating_system.sku

  depends_on = [ null_resource.validation ]
}
