module "biganimal" {
  source             = "./modules/biganimal"

  for_each           = module.spec.biganimal

  cloud_provider     = var.cloud_service_provider

  project            = each.value.project
  name               = each.key
  name_id            = module.spec.hex_id

  cluster_name       = module.spec.base.tags.cluster_name
  password           = each.value.password
  data_groups        = each.value.data_groups
  witness_groups     = each.value.witness_groups
  service_cidrblocks = local.biganimal_service_cidrblocks
  machine_cidrblocks = local.machine_cidrblocks

  tags               = each.value.tags

}
