module "key_pair_{{ region_ }}" {
  source = "./modules/key_pair"

  name          = "{{ region }}-${random_id.apply.hex}"
  resource_name = module.vpc_{{ region_ }}.resource_name
  region        = module.vpc_{{ region_ }}.region
  public_key    = var.ssh_pub_key

  depends_on = [module.vpc_{{ region_ }}]

  providers = {
    azurerm = azurerm.{{ region_ }}
  }
}
