module "kubernetes_{{ region_ }}" {
  source = "./modules/kubernetes"

  for_each = ({
    for rm in lookup(module.spec.region_kubernetes, "{{ region }}", []) : 
      rm.name => rm 
    })

  cluster_version                 = each.value.spec.cluster_version

  nodeCount                       = each.value.spec.node_count
  cluster_name                    = module.spec.base.tags.cluster_name
  logAnalyticsWorkspaceLocation   = each.value.spec.log_analytics_location
  logAnalyticsWorkspaceName       = "${replace(module.spec.base.tags.cluster_name,"-","")}${module.spec.pet_name}Workspace"
  logAnalyticsWorkspaceSku        = each.value.spec.log_analytics_sku
  resourceGroupLocation           = each.value.spec.resource_group_location
  resourceGroupName               = "${module.spec.base.tags.cluster_name}-RG-${module.spec.pet_name}"
  vmSize                          = each.value.spec.instance_type
  solutionName                    = each.value.spec.solution_name
  publisherName                   = each.value.spec.publisher_name
  ssh_user                        = each.value.spec.ssh_user
  sshPublicKey                    = module.spec.public_key  
  tags                            = each.value.spec.tags

  depends_on = [module.security_{{ region_ }}]

  providers = {
    azurerm = azurerm.{{ region_ }}
  }

}
