module "machine_{{ region_ }}" {
  source = "./modules/machine"

  for_each = {
    for rm in lookup(module.spec.region_machines, "{{ region }}", []) : 
      rm.name => rm 
    }

  resource_name                   = module.vpc_{{ region_ }}.resource_name
  subnet_id                       = module.network_{{ region_ }}[each.value.spec.zone].subnet_id
  operating_system                = each.value.spec.operating_system
  cluster_name                    = module.spec.base.tags.cluster_name
  name                            = each.value.name
  machine                         = each.value.spec
  additional_volumes              = each.value.spec.additional_volumes
  private_key                     = module.spec.private_key
  use_agent                       = module.spec.base.ssh_key.use_agent
  public_key_name                 = module.key_pair_{{ region_ }}.name
  name_id                         = module.spec.hex_id
  tags                            = each.value.spec.tags

  depends_on = [
    module.key_pair_{{ region_ }},
    module.security_{{ region_ }},
    module.agreements,
    null_resource.validation,
  ]

  providers = {
    azurerm = azurerm.{{ region_ }}
  }

}
