module "vpc_{{ region_ }}"{
  source = "./modules/vpc"

  name          = "${var.vpc_tag}-{{ region }}-${random_id.apply.hex}"
  cidr_blocks = [ lookup(lookup(var.regions, "{{ region }}"), "cidr_block") ]
  region = "{{ region }}"

  providers = {
    azurerm = azurerm.{{ region_ }}
  }
}

module "network_{{ region_ }}" {
  source = "./modules/network"

  for_each = lookup(local.region_az_networks, "{{ region }}", null)
  
  resource_name   = module.vpc_{{ region_ }}.resource_name
  network_name    = module.vpc_{{ region_ }}.network_name
  region          = module.vpc_{{ region_ }}.region
  zone            = tostring(each.key) == "0" ? null : each.key
  ip_cidr_range   = [ each.value ]
  name            = "{{region}}-${each.key}-${random_id.apply.hex}"

  depends_on = [module.vpc_{{ region_ }}]

  providers = {
    azurerm = azurerm.{{ region_ }}
  }
}

module "security_{{ region_ }}" {
  source = "./modules/security"

  for_each = lookup(local.region_az_networks, "{{ region }}", null)

  subnet_id         = module.network_{{ region_ }}[each.key].subnet_id
  region            = module.vpc_{{ region_ }}.region
  resource_name     = module.vpc_{{ region_ }}.resource_name
  service_name      = "service-{{ region }}-${each.key}-${random_id.apply.hex}"
  service_ports     = lookup(lookup(var.regions, "{{ region }}", null), "service_ports", [])
  public_cidrblock  = var.public_cidrblock
  region_name       = "region-{{ region }}-${each.key}-${random_id.apply.hex}"
  region_ports      = lookup(lookup(var.regions, "{{ region }}", null), "region_ports", [])
  region_cidrblocks = flatten([
    for region in try(var.regions, []) : [
      for ip_cidr in try(region.zones, []) : ip_cidr
      ] 
    ])

  depends_on = [module.vpc_{{ region_ }}, module.network_{{ region_ }}]

  providers = {
    azurerm = azurerm.{{ region_ }}
  }
}
