module "vpc_{{ region_ }}"{
  source = "./modules/vpc"

  name          = "{{ region }}-${module.spec.hex_id}"
  cidr_blocks = [ lookup(lookup(module.spec.base.regions, "{{ region }}"), "cidr_block") ]
  region = "{{ region }}"
  tags          = module.spec.base.tags

  providers = {
    azurerm = azurerm.{{ region_ }}
  }

  depends_on = [ null_resource.validation ]
}

module "network_{{ region_ }}" {
  source = "./modules/network"

  for_each = lookup(module.spec.region_zone_networks, "{{ region }}", null)
  
  resource_name   = module.vpc_{{ region_ }}.resource_name
  network_name    = module.vpc_{{ region_ }}.network_name
  region          = module.vpc_{{ region_ }}.region
  zone            = each.value.zone
  ip_cidr_range   = [ each.value.cidr ]
  name            = "{{region}}-${each.key}"
  name_id         = module.spec.hex_id

  depends_on = [module.vpc_{{ region_ }}]

  providers = {
    azurerm = azurerm.{{ region_ }}
  }
}

module "security_{{ region_ }}" {
  source = "./modules/security"

  for_each = lookup(module.spec.region_zone_networks, "{{ region }}", null)

  security_group_name = module.network_{{ region_ }}[each.key].security_group_name
  name_id           = "${each.key}-${module.spec.hex_id}"
  region            = module.vpc_{{ region_ }}.region
  resource_name     = module.vpc_{{ region_ }}.resource_name
  ports             = try(module.spec.region_ports["{{ region }}"], [])
  public_cidrblocks        = var.public_cidrblocks
  service_cidrblocks       = local.service_cidrblocks
  internal_cidrblocks      = module.spec.region_cidrblocks
  tags              = module.spec.base.tags

  depends_on = [module.network_{{ region_ }}]

  providers = {
    azurerm = azurerm.{{ region_ }}
  }
}
