module "kubernetes_{{ region_ }}" {
  source = "./modules/kubernetes"

  for_each = ({
    for rm in lookup(module.spec.region_kubernetes, "{{ region }}", []) : 
      rm.name => rm 
    })

  cluster_name                    = module.spec.value.tags.cluster_name
  region                          = each.value.spec.region
  machine                         = each.value
  subnetwork                      = module.network_{{ region_ }}[each.value.spec.zone].name
  network                         = module.vpc_{{ region_ }}.name
  name_id                         = module.spec.hex_id
  tags = each.value.spec.tags

  depends_on = [module.security_{{ region_ }}]

  providers = {
    google = google.{{ region_ }}
  }

}
