module "machine_{{ region_ }}" {
  source = "./modules/machine"

  for_each = ({
    for rm in lookup(module.spec.region_machines, "{{ region }}", []) : 
      rm.name => rm 
    })

  operating_system                = module.spec.base.operating_system
  cluster_name                    = module.spec.base.tags.cluster_name
  zone                            = each.value.spec.zone
  machine                         = each.value
  ssh_user                        = module.spec.base.ssh_user
  ssh_priv_key                    = module.spec.private_key
  use_agent                       = module.spec.base.ssh_key.use_agent
  ssh_metadata                    = module.key_pair_{{ region_ }}.keys
  subnet_name                     = module.network_{{ region_ }}[each.value.spec.zone].name
  name_id                         = module.spec.hex_id
  tags = each.value.spec.tags

  depends_on = [module.key_pair_{{ region_ }}, module.security_{{ region_ }}]

  providers = {
    google = google.{{ region_ }}
  }

}
