provider "google" {
}

{% for region in regions.keys() %}
{%   set region_ = region | replace('-', '_') %}
provider "google" {
  region = "{{ region }}"
  alias = "{{ region_ }}"
}

{% endfor %}

{% if has_biganimal %}
provider "biganimal" {
  # BA_BEARER_TOKEN environment variable
  # BA_API_URI environment variable, optional
  alias = "default"
}

terraform {
  required_providers {
    biganimal = {
      source  = "EnterpriseDB/biganimal"
    }
  }
}

{% endif %}
