{% set previous_created = [] %}
{% for (requester, accepter) in peers %}
{%   set requester_ = requester|replace('-', '_') %}
{%   set accepter_ = accepter|replace('-', '_') %}
module "vpc_peering_{{ requester_ }}_{{ accepter_ }}" {
  source = "./modules/vpc_peering"
  
  network      = module.vpc_{{ requester_ }}.vpc_id
  peering_name = "peer-{{ requester }}-{{ accepter }}-${module.spec.hex_id}"
  peer_network = module.vpc_{{ accepter_ }}.vpc_id

  depends_on = [
    module.security_{{ requester_ }},
    module.security_{{ accepter_ }},
    {% if previous_created %}{{ previous_created[-1] }},{% endif %}
  ]

  providers = {
    google = google.{{ requester_ }}
  }

}

module "vpc_peering_{{ accepter_ }}_{{ requester_ }}" {
  source = "./modules/vpc_peering"
  
  network      = module.vpc_{{ accepter_ }}.vpc_id
  peering_name = "peer-{{ accepter }}-{{ requester }}-${module.spec.hex_id}"
  peer_network = module.vpc_{{ requester_ }}.vpc_id

  depends_on = [module.vpc_peering_{{ requester_ }}_{{ accepter_ }}]

  providers = {
    google = google.{{ accepter_ }}
  }

}
{% set dummy = previous_created.append("module.vpc_peering_" + accepter_ + "_" + requester_) %}
{% endfor %}
