module "aurora_{{ region_ }}" {
  source = "./modules/aurora"

  for_each = { for rm in lookup(module.spec.region_auroras, "{{ region }}", []) : rm.name => rm }

  vpc_id                   = module.vpc_{{ region_ }}.vpc_id
  aurora                   = each.value
  custom_security_group_id = module.security_{{ region_ }}.aws_security_group_id
  name_id                  = module.spec.hex_id
  cluster_name             = module.spec.base.tags.cluster_name
  tags                     = each.value.spec.tags

  depends_on = [module.security_{{ region_ }}]

  providers = {
    aws = aws.{{ region_ }}
  }
}
