module "key_pair_{{ region_ }}" {
  source = "./modules/key_pair"

  key_name = module.spec.value.tags.cluster_name
  ssh_pub_key  = var.ssh_pub_key
  name_id = module.spec.hex_id

  providers = {
    aws = aws.{{ region_ }}
  }

  depends_on = [ null_resource.validation ]
}
