{% if lower(statefile.type) == "s3" and statefile.region and statefile.bucket and statefile.table %}
terraform {
    backend "s3" {
        bucket = {{ statefile.bucket }}
        key = {{ statefile.directory }}/terraform.tfstate
        region = {{ statefile.region }}
        dynamodb_table = {{ statefile.table }}
        encrypt = true
    }
}
{% endif %}